
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>ELMOUKEF.MA - Votre service de mise en relation avec les maalmines</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="assets/images/logo.png" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
              <li class="scroll-to-section"><a href="#services">Devenir Maalam</a></li>
              <li class="scroll-to-section"><a href="#about">A Propos</a></li>
              <li class="scroll-to-section"><a href="#pricing">Connexion</a></li>
              <li class="scroll-to-section"><a href="#newsletter">Inscription</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i>Demande S.O.S</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connexion avec Facebook</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connexion avec Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Ou utilisez votre adresse e-mail </span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Inscription</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form>
                <label>Email /Login</label>
                <input type="text" />
                <br />

                <label>Mot de passe</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Se souvenir de moi sur cet ordinateur</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Retour</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Mot de passe oublié?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form>
                <label>Nom</label>
                <input type="text" />
                <br />

                <label>Addresse Email</label>
                <input type="email" />
                <br />

                <label>Mot de passe</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="send_updates" type="checkbox" />
                    <label for="send_updates">Envoyez-moi des mises à jour occasionnelles par e-mail</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Retour</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Inscription</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>CONFIEZ VOS TRAVAUX A NOS BRICOLEURS</h2>
                    
                  </div>
                  <div class="col-lg-12">
                    
                    <div class="white-button scroll-to-section">
                      <a href="#contact">POSTER UNE DEMANDE DE TRAVAUX  <i class="fab fa-bullhorn"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>POSTEZ <em>VOTRE DEMANDE</em></h4>
            <img src="assets/images/heading-line-dec.png" alt="">          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Electricité</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>plomberie</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>maçonnerie</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>revêtement mur</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
      </div>
    </div>


<br>
        <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>revêtement sol</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>serrurerie</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>climatisation</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>bricolage</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
      </div>
    </div>
<br>

        <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>jardinage</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>réparation électroménager</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>parabole/TV</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Aluminium</h4>
            <div class="text-button">
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>Comment   <em>ça</em> marche?</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">1. Décrivez votre besoin et postez</a></h4>
              </div>
              <div class="box-item">
                <h4><a href="#">2. Les jobbers disponibles et compétents vous proposent leurs services</a></h4>
              </div>
               <div class="box-item">
                <h4><a href="#">3. Evaluez et réglez votre jobber une fois le job terminé</a></h4>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="gradient-button">
                <a href="#">Postez votre demande</a>
              </div>
                          </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
          <!--  <img src="assets/images/about-right-dec.png" alt="">-->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3MmaodBR0Mk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Nos  <em>Derniers</em> Avis</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
           
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Fatima</h4>
                            <span class="date">30 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Painture</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Karim Yahia</h4>
                            <span class="date">29 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Electricité</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Khalid</h4>
                            <span class="date">27 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">revêtement mur</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Mohamed</h4>
                            <span class="date">24 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">plomberie</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">3.9</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Mustapha</h4>
                            <span class="date">21 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Web Development</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“Très bon prestataire, la demande a été très bien réalisée. Je recommande pour son sérieux, sa ponctualité, sa gentillesse....”</p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Fatima</h4>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“Efficace et de bon Conseil, merci Pour le job”</p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Karim</h4>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“tres bon service et tres bon prix je reccommande.”</p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Khalid.</h4>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“Efficace et de bon Conseil.”</p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Mohamed</h4>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“Merci pour son aide à monter et paramétrer mon nouveau téléviseur, avec beaucoup de patience et d'efficacité, et écoute. Je le recommande sans problème, il saura faire le job.”</p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/client-image.jpg" alt="">
                                <div class="right-content">
                                  <h4>Mustapha</h4>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br><br>
  <div id="about" class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>Qu'est ce que le <em>Maalam</em> ?</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            
          </div>
          <div class="row">
            <p>Nous vous proposons un concept de vente de services entre particuliers ou professionnels. 
Vous (l’annonceur) publiez une annonce à la recherche d’un Maalam pour vous aider.
Le Maalam prend connaissance de votre annonce et vous propose un devis chiffré.
Ainsi vous recevez plusieurs devis de différents Maalam dans votre région avec leurs profils, leurs notations et leurs historiques de travaux effectué. Vous n’avez plus qu’à choisir celui qui vous convient.
Nos Maalam sont garantis certifiés et vérifiés.
</p>
          </div>
        </div>
        <div class="col-lg-6">
         <img src="assets/images/a1.jpg" width="485" height="454">
        </div>
      </div>
    </div>
  </div>

<br><br>


  <div id="about" class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <img src="assets/images/a2.jpg" width="485" height="454">
        </div>
        <div class="col-lg-6">
          
         <div class="section-heading">
            <h4>EL MOUKEF la plateforme dédiée à vos  <em>travaux</em> </h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>A travers la plateforme El moukef, c’est le marché des travaux qui fait sa révolution !
Le principe est simple : mettre en relation un « annonceur » (vous) ayant besoin d’une personne compétente et vérifiée afin de faire réaliser ses travaux et un « Maalam » ayant les compétences et la capacité de réaliser ces travaux.
Notre système de notation de « l’annonceur » et du « Maalam » nous permettent de vous garantir le sérieux de tous nos membres.
</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>


<br><br>
  <div id="about" class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>Maalam chez <em>Elmoukef,</em> vous avez tout à y gagné !</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            
          </div>
          <div class="row">
            <p>Etre Maalam chez El moukef vous permet d’avoir des notifications à chaque fois qu’un annonceur poste une demande de travaux dans votre secteur et en rapport avec vos compétences. Cela vous permet d’être au courant de toutes les offres de votre ville et de ne rien rater !
L’inscription sur EL moukef est gratuite. 
</p>
          </div>
        </div>
        <div class="col-lg-6">
         <img src="assets/images/a3.jpg" width="485" height="454">
        </div>
      </div>
    </div>
  </div>



  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Vous avez des questions?</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Contact<i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact</h4>
            <p>ANG 11 Janvier et Mustapha El maani résidence Prima CASABLANCA, </p>
            <p><a href="#">+212 (0) 7 59 61 61 62 </a></p>
            <p><a href="#">support@elmoukef.ma</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Navigation</h4>
            <ul>
              <li><a href="#">Acceuil</a></li>
              <li><a href="#">A Propos</a></li>
              <li><a href="#">Devenir Maalam</a></li>
              <li><a href="#">Demande S.O.S</a></li>
              </ul>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>A Propos</h4>
            <ul>
              <li><a href="#">CGU</a></li>
              <li><a href="#">Mentions Legals</a></li>
              <li><a href="#">Protection des données</a></li>
              <li><a href="#">Conact</a></li>
              <li><a href="#">Le Blog</a></li>
            </ul>
            <ul>
              
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <div class="logo">
              <img src="assets/images/white-logo.png" alt="">
            </div>
            <p>Nous vous proposons un concept de vente de services entre particuliers ou professionnels.
</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 <a href="">Elmoukef.ma</a>.Tous les droits sont réservés. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>